<div class="container">
  <div class="header-container">
    <div class="video">
      <%= video_tag "landing-video.mp4", autoplay: "autoplay", id: "video", muted: true, width: "  100%", loop: "true", :class => "video"%>
    </div>
    <h1>Hector's Cocktails</h1>
  </div>

  <div class="cocktail-list">
    <% @cocktails.each do |cocktail| %>
      <div class="card" style="width: 18rem;">
        <%= cl_image_tag(cocktail.photo, crop: :fit) %>
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
        </div>
      </div>
    <% end %>
  </div>

  <button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to 'New Cocktail', new_cocktail_path %></button>
</div>
