// Specific CSS for your home-page
.header-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.video {
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.text-buttons {
  position: absolute;
  width: 200vh;
  margin-top: 10%;
}

.text-buttons h1 {
  color: white;
  font-size: 100px;
  font-family: pacifico;
  text-shadow: 4px 3px 13px rgba(0, 0, 0, 1);
}

.buttons {
  width: 200vh;
}

button.btn.btn-secondary.btn-lg.btn-block {
  background-color: black;
  opacity: 0.7;
  border-color: transparent;
  box-shadow: 0px 0px 4px gray;
}

button a {
  color: white;
  text-decoration: none;
}

button a:hover {
  color: white;
  text-decoration: none;
}

.list {
  margin-bottom: 200px;
  h1 {
    color: white;
    font-size: 60px;
    font-family: pacifico;
    text-shadow: 4px 3px 13px rgba(0, 0, 0, 1);
    margin: 80px 0;
  }
  h2 {
    color: white;
    font-size: 25px;
    font-family: pacifico;
    text-shadow: 1px 1px 1px black;
    text-align: left;
    margin: 0 0 20px 80px;
  }
}

.intro {
  text-align: center;
}
