// Specific CSS for your home-page
h1 {
  color: white;
  font-size: 60px;
}
.card img {
  border-radius: 2px;
  width: 286px;
  height: auto;
}

button a {
  color: white;
  text-decoration: none;
}

button a:hover {
  color: white;
  text-decoration: none;
}
