button.btn.btn-secondary.btn-lg.btn-block {
  width: 100%;
  background-color: #ED3071;
  opacity: 0.9;
  border-color: transparent;
  margin-right: 10px;
  box-shadow: 0px 0px 4px gray;
  flex-grow: 1;
}

button.btn.btn-secondary.btn-lg.btn-block:hover {
  opacity: 0.7;
}

button a {
  color: white;
  text-decoration: none;
}

button a:hover {
  color: white;
  text-decoration: none;
}

.btn-flat {
  width: 100%;
  background-color: #FDE55B;
  opacity: 0.9;
  border-color: transparent;
  margin-left: 10px;
  flex-grow: 1;
}

.btn-flat:hover {
  opacity: 0.7;
  box-shadow: 0px 0px 4px black;
}

a#scroll.btn.btn-flat {
  color: black;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 1.5;
}

.btn-add-ingredient {
  background-color: #ED3071;
  color: white;
}

.btn-add-ingredient:hover {
  color: white;
  box-shadow: 0px 0px 5px gray;
}

.btn-create-cocktail {
  width: 100%;
  background-color: #FDE55B;
  box-shadow: 0px 0px 4px gray;
}

.btn-create-cocktail:hover {
  box-shadow: 0px 0px 4px white;
}
